*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


body{
    font-family:'Archivo',sans-serif;
}

header{
    padding: 20px;
}

.navbar{
    
    height: 100px;
    margin: auto;
    max-width: 1200px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav-right{
    display: flex;
    gap: 60px;
}

.nav-list{
    display: flex;
    
    gap: 30px;
    list-style: none;
    align-items: center;
    margin-right: 20px;
}

.common-btn{
       color: aliceblue;
       font-weight: 700;
       background:rgb(72, 72, 245);
       border-radius: 8px;
       padding: 10px 50px;
       /* margin-right: 65px; */
       font-weight: 600;
       transition: 0.08s;
    
}

.common-btn:hover{
  transform: scale(1.08);
   
}

.hero{
    width: 100%;
    height: 98vh;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;

}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.55);
}


.content{
    position: relative;
    z-index: 2;
    text-align: center;
    
    color: white;
    max-width: 750px;
    padding: 20px;
    
    
}

.content h1{
    font-size: 65px;
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 1.2;
}
.content span{
    font-style: italic;
}

.content p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
    color: #ddd;
}

.content button{
    background: rgb(72, 72, 245);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 20px;
    margin-top: 300px;
    transition: 0.08s;
}

.content button:hover{
     transform: scale(1.08);
}

.speakers {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
}

.speakers h2{
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.card{
    background: #e9a4a4;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;

}

.card:hover{
    transform: translateY(-8px);
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content{
    padding: 25px;
}

.card-content span{
    color: rgb(50, 50, 156);
    font-size: 15px;
    font-weight: bold;
    
}

.card-content h3{
    margin: 10px 0;
    font-size: 30px;
}